@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
:root {
  --color-1: #c3e8f5;
  --color-2: #9acbe4;
  --color-3: #87c2e1;
  --color-4: #6fa8c7;
  --color-5: #5d8eaa;
  --color-6: #001f3f;
}
/**Contact Page**/
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member img {
  max-height: 250px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*Mobile-First Design*/
body {
  background: #56ccf2;
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Nav*/
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
nav ul li {
  background: #fff;
  border-radius: 5px;
}
nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  display: block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
nav a:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*Button design*/
.btn1 {
  background: var(--color-1);
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.4s;
}
.btn1:hover {
  background: var(--color-6);
  color: #fff;
}
/*Generic*/
/*Content width*/
.wrapper {
  width: 95vw;
}
/*For generic content so it will be white*/
.content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
/*Homepage - index*/
/*Grid for products*/
.products-grid {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
}
/*Background*/
.product-card,
.detail {
  background: #fff;
  border-radius: 10px;
}
/*Card for a one product*/
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 9px 8px 4px rgba(58, 58, 58, 0.15);
}
.category {
  font-size: 0.8rem;
}

.product-card .card-price {
  margin-bottom: 20px;
}
.product-card img {
  margin: 20px 0;
  height: 100%;
  width: 100%;
  max-height: 190px;
  object-fit: contain;
}
/*Detail produktu - page for a product detail*/
.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 9px 5px 7px 0px #3a3a3a26;
  padding: 20px;
  gap: 10px;
}

.detail img {
  max-height: 250px;
  margin: 0 auto;
}

.detail-description {
  text-align: justify;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-wrapper {
  margin: 10px 0;
}
/*Shopping cart*/
/*Wrapper for cart items*/
.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item img {
  max-height: 70px;
}
/*Cart sum and order btn*/
.total {
  display: flex;
  justify-content: space-between;
}
/*BTNs plus and minus (qunatity of a product)*/
#cart-update button {
  width: 30px;
  height: 30px;
}
#cart-update input {
  width: 50px;
  height: 30px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*ORDER FORM*/
#order-form input,
#order-form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#order-form input[type="submit"] {
  border: none;
  cursor: pointer;
}
/*Row, Columns ZIP|CITY STREET|NUMBER*/
.row {
  display: flex;
  gap: 8px;
}
.col:nth-of-type(1) {
  width: 30%;
}
.col:nth-of-type(2) {
  width: 70%;
}
/*DESKTOP*/
/*Product card*/
@media screen and (min-width: 768px) {
  .info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .detail {
    flex-direction: row;
    min-height: 400px;
    align-items: center;
  }
  .detail img {
    margin: 0;
  }
  .products-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .wrapper {
    width: 70vw;
  }
}
