{block content}
<table class="table table-striped">
<tr>
    <th>ID</th>
    <th>Název</th>
    <th>Kategorie</th>
    <th>Popis</th>
    <th>Operace</th>
</tr>
{foreach $products as $product}
<tr>
    <td>{$product->ProduktID}</td>
    <td>{$product->Nazev}</td>
    <td>{$product->kategorie->Nazevkategorie}</td> 
    <td>{$product->Popis|truncate:50}</td> 
    <td><a n:href="Edit:edit $product->ProduktID">Detail</a></td>

 </tr>
{/foreach}
</table>
<a   n:href="Edit:create" class="btn btn-primary">Přidat nový produkt</a>
