{block content}
<h1>Detail produktu</h1>

<table class="table table-striped">

<tr>
<th scope="row">Název</th>
<td>{$product->Nazev}</td>
</tr>
<tr>
<th scope="row">Kategorie</th>
<td>{$product->kategorie->Nazevkategorie}</td>
</tr>
<tr>
<th scope="row">Skladem</th>
<td>{$product->sklad->Mnozstvi}</td>
</tr>

</table>

<h2>Popis</h2>
 
<p>{$product->Popis}</p>
<div class="row">
 <img class="col-12" src="../../product_pics/{$product->Obrazek}" alt="Produkt">
 
</div>
<a class="btn btn-primary" n:href="Edit:edit $product->ProduktID">Upravit produkt</a> 