<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="{$basePath}/css/screen.css"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<title>{ifset title}{include title|stripHtml} | {/ifset}PPB ADMIN</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">PPB - administrace</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
			  <li class="nav-item">
				<a class="nav-link" n:href="Home:default">Domů</a> <!-- active -->
			  </li>
			  <li class="nav-item">
				<a class="nav-link" n:href="Supplier:default">Dodavatelé</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" n:href="Product:default">Produkty</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" n:href="Order:default">Objednávky</a>
			  </li>
			</ul>
 {if $user->isLoggedIn()}
		<li><a class="btn btn-primary" n:href="Sign:out">Odhlásit</a></li>
	{else}
		<li><a class="btn btn-primary" n:href="Sign:in">Přihlásit</a></li>
	{/if}		  </div>
		</div>
	  </nav>

<ul class="navig">
 
	
</ul>
	<main class="container">
 
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div> 
	{include content}
	{block scripts}

	</main><script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
