@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}
 
 
.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table th {
  padding: 10px;
}

.table tr:nth-child(even) {
  background: #e7e9eb;
} 

 