{block content}
<table class="table table-striped"><tr>
<th>Číslo objedávky</th>
<th>Datum</th>
<th>Jméno</th>
<th>Příjmení</th>
<th>Telefom</th>
<th>Zaplaceno</th>
<th>Platba</th>
<th>Doprava</th>
<th>Operace</th>
</tr>
{foreach $orders as $order}
<tr>
<td>{$order->ObjednavkaID}</td>
<td>{$order->Datumobjednavky}</td>
<td>{$order->zakaznik->Jmeno}</td>
<td>{$order->zakaznik->Prijmeni}</td>
<td>{$order->zakaznik->Telefon}</td>
 <td>{$order->Zaplaceno}</td>
 <td>{$order->typplatby->Nazev}</td>
 
 <td>{$order->typdopravy->Nazev}</td>
 <td><a n:href="Order:show $order->ObjednavkaID" class="btn btn-primary" role="button">Detail</a></td>
 </tr>
 
{/foreach}
</table>