{block content}
<h2>Detaily objednávky</h2>
<p>ID objednávky: {$order->id}</p>
<p>Datum vytvoření: {$order->Datumobjednavky}</p>
<p>Jméno: {$order->zakaznik->Jmeno}</p>
<p>Příjmení: {$order->zakaznik->Prijmeni}</p>
<table class="table table-striped">
    <tr>
        <th>Název produktu</th>
        <th>Množství</th>
        <th>Cena za kus</th>
        <th>Celková cena</th>
    </tr>
    {foreach $items as $item}
    <tr>
        <td>{$item->produkt->Nazev}</td>
        <td>{$item->Pocet}</td>
        <td>{$item->Cenaks}</td>
        <td>{$item->Pocet * $item->Cenaks}</td>
    </tr>
    {/foreach}
</table>

