{block content}
{* <a n:href="Supplier:add">Přidat nového dodavatele</a> *}

<table class="table table-striped">
<tr>
<th>ID</th>
<th>Firma</th>
<th>Účet</th>
<th>Telefon</th>
<th>Operace</th>

</tr>
{foreach $suppliers as $supplier}
<tr>
    <td>{$supplier->DodavateleID}</td>
    <td>{$supplier->Nazevfirmy}</td>
    <td>{$supplier->Cislouctu}</td>
    <td>{$supplier->Telefon}</td>
        <td><a n:href="Supplier:edit $supplier->DodavateleID">Detail</a></td>  

 </tr>
{/foreach}
</table>

<a class="btn btn-primary" n:href="Supplier:create">Přidat dodavatele</a>
