 {block content}
 <h1>Detail dodavatele</h1>

 

<table class="table  ">
<tr>
<td>Firma</td>
<td>{$supplier->Nazevfirmy}</td>
<tr>
<tr>
<td>Účet</td>
<td>{$supplier->Cislouctu}</td>
<tr>
<tr>
<td>Telefon</td>
<td>{$supplier->Telefon}</td>
<tr>


</table>


<a class="btn btn-primary" n:href="Supplier:edit $supplier->DodavateleID">Upravit dodavatele</a>
 